.body {
  background-image: url(/back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}
.section {
  width: 400px;
  margin: 125px auto;
  padding: 10px;
  background-color: rgb(32 14 8 / 52%);
  text-align: center;
  box-sizing: border-box;
  margin: 40px auto;
}
h1 {
  font-size: 30px;
  color: white;
}
.span {
  color: white;
  margin-right: 10px;
}
.nav-item {
  color: white;
  text-decoration: none;
}
.nav {
  background-color: rgb(32 14 8 / 52%);
  display: flex;
  justify-content: space-around;
}

.registration-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inner {
  margin: 0 40px;
}

.registration-form p {
  width: 100%;
}
.legend {
  color: white;
  font-family: "Glass Antiqua", cursive;
  font-family: "Kanit", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}
.nav-item {
  font-family: "Kanit", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
}
